@font-face {
    font-family: "RobotoMono-Regular";
    src: url("../fonts/RobotoMono-Regular.ttf");
}

* {
    font-family: "RobotoMono-Regular", sans-serif;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}