@font-face {
    font-family: "ChaletLondonNineteenSixty";
    src: url("./fonts/ChaletLondonNineteenSixty.ttf");
}

@font-face {
    font-family: "ChaletNewYorkNineteenSixty";
    src: url("./fonts/ChaletNewYorkNineteenSixty.ttf");
}

@font-face {
    font-family: "ChaletComprimeCologneSixty";
    src: url("./fonts/ChaletComprimeCologneSixty.ttf");
}

@font-face {
    font-family: "RobotoMono-Regular";
    src: url("./fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: "Teko-Bold"; /* Nom de la police */
    src: url("./fonts/Teko-Bold.ttf"); /* Chemin vers le fichier TTF */
}

@font-face {
    font-family: "Teko-Light"; /* Nom de la police */
    src: url("./fonts/Teko-Light.ttf"); /* Chemin vers le fichier TTF */
}

@font-face {
    font-family: "Teko-Medium"; /* Nom de la police */
    src: url("./fonts/Teko-Medium.ttf"); /* Chemin vers le fichier TTF */
}

@font-face {
    font-family: "Teko-Regular"; /* Nom de la police */
    src: url("./fonts/Teko-Regular.ttf"); /* Chemin vers le fichier TTF */
}

@font-face {
    font-family: "Teko-SemiBold"; /* Nom de la police */
    src: url("./fonts/Teko-SemiBold.ttf"); /* Chemin vers le fichier TTF */
}

* {
    font-family: "ChaletLondonNineteenSixty", sans-serif;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body {
    height: 100svh;
    width: 100vw;

    overflow: hidden;
}